@font-face {
  font-family:eee; /* Project id 1510439 */
  src: url('./fonts/eee.woff2?t=1631102682045') format('woff2'),
       url('./fonts/eee.woff?t=1631102682045') format('woff'),
       url('./fonts/eee.ttf?t=1631102682045') format('truetype');
}

.eee {
  font-family:eee !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eee-icon_37:before {
  content: "\e60e";
}

.eee-icon_12:before {
  content: "\e60c";
}

.eee-ascending:before {
  content: "\e64d";
}

.eee-elevator:before {
  content: "\e63b";
}

.eee-diyadaikuan:before {
  content: "\e677";
}

.eee-cheliangdiyadengji:before {
  content: "\e603";
}

.eee-duiwaidanbao:before {
  content: "\e608";
}

.eee-xinyong:before {
  content: "\e700";
}

.eee-xinyong1:before {
  content: "\e612";
}

.eee-xinyongqia-:before {
  content: "\e624";
}

.eee-diyazhiya:before {
  content: "\e61c";
}

.eee-yanzhengma:before {
  content: "\e6a0";
}

.eee-huiyuan:before {
  content: "\e636";
}

.eee-dijiaqushi:before {
  content: "\e8ca";
}

.eee-huiyuan-:before {
  content: "\e60d";
}

.eee-user:before {
  content: "\e755";
}

.eee-kuai:before {
  content: "\e637";
}

